.fa-brands{
    margin: 20px;
    text-align: center;
}

i{
    font-size: 7vh;
    justify-content: center;
}

.fa-solid{
    margin: 15px;
    text-align: center;   
}

a{
    text-decoration: none;
    color: grey;
}

